appdirs==1.4.4
atomicwrites==1.4.0
attrs==19.3.0
Automat==20.2.0
bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
defusedxml==0.6.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
lxml==4.5.1
more-itertools==8.3.0
numpy==1.18.4
packaging==20.4
parsel==1.6.0
pbr==5.4.5
Pillow==7.1.2
pluggy==0.13.1
priority==1.3.0
Protego==0.1.16
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pylibversion==0.1.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyserial==3.4
pytest==5.4.2
python-json-logger==0.1.11
pywin32==227
queuelib==1.5.0
requests==2.23.0
Scrapy==2.1.0
service-identity==18.1.0
six==1.15.0
SOAPpy==0.12.22
structlog==20.1.0
testfixtures==6.14.1
Twisted==20.3.0
urllib3==1.25.9
utils==1.0.1
w3lib==1.22.0
wcwidth==0.1.9
wstools==0.4.8
zope.interface==5.1.0
