attrs==19.1.0
blis==0.4.1
catalogue==1.0.2
cymem==2.0.8
Cython==0.29.19
flake8==3.5.0
importlib-metadata==4.13.0
jsonschema==3.0.2
mock==2.0.0
murmurhash==1.0.10
numpy==1.15.0
plac==0.9.6
preshed==3.0.9
pytest==7.4.4
pytest-timeout==1.4.2
requests==2.31.0
srsly==1.0.7
thinc==7.3.0
tqdm==4.66.2
wasabi==0.10.1
