attrs==23.2.0
automat==22.10.0
boto==2.49.0
botocore==1.34.146
cffi==1.16.0
constantly==23.10.4
cryptography==43.0.0
cssselect==1.2.0
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
jmespath==1.0.1
lxml==5.2.2
packaging==24.1
parsel==1.9.1
pillow==10.4.0
protego==0.3.1
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
PyDispatcher==2.0.7
pyOpenSSL==24.2.1
pytest-twisted==1.14.2
queuelib==1.7.0
Scrapy==2.0.0
service_identity==24.1.0
six==1.16.0
testfixtures==8.3.0
Twisted==21.7.0
typing-extensions==4.12.2
w3lib==2.2.1
zope.interface==5.5.2
